html,
body {
    height: 100%;
}

body {
	font-family: Arial, sans-serif;
	padding-bottom: 80px;
	color: #322153;
    overflow: hidden;
}

header {
    -webkit-app-region: drag;
}

h1 {
	text-align: center;
	display: block;
	padding: 30px;
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
}

table {
	width: 100%;
	margin-bottom: 80px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

table tr {
	border-bottom: .2px solid #e9e9e9;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

table tr:hover {
	background: #fafafa;
}

table td {
	padding: 20px 10px 10px;
}

table thead td {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

table td.col-id {
	width: 20px;
	font-size: 10px;
    color: #d6d6d6;
    letter-spacing: 1px;
}

table td.col-date {
	width: 120px;
}

table td.col-value {
	width: 150px;
}

table td.col-options {
	width: 10px;
    padding-right: 20px;
}

table .icon.delete {
	background: #e9e9e9;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

table tr:hover .icon.delete {
	background: red;
}

label {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	margin-left: 20px;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='number'] {
	height: 25px;
    padding-left: 8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
  -webkit-app-region: no-drag;
}

.section-title {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.transition {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.main-table-box {
    padding-bottom: 350px;
    height: 100%;
}

.main {
	-webkit-app-region: no-drag;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar-btns {
	float: left;
    margin: 15px;
}

.titlebar-btns .icon {
	cursor: pointer;
	margin: 10px;
}

.non-visible {
	display: none !important;
}

.icon {
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.icon-mini {
	width: 15px;
	height: 15px;
}

.icon-hide {
	background-image: url('assets/images/hide.svg');
    -webkit-mask: url(assets/images/hide.svg) no-repeat center;
    mask: url(assets/images/hide.svg) no-repeat center;
}

.icon-plus {
	background-image: url('assets/images/plus.svg');
    -webkit-mask: url(assets/images/plus.svg) no-repeat center;
    mask: url(assets/images/plus.svg) no-repeat center;
}

.icon-close {
    background-image: url('assets/images/close.svg');
    -webkit-mask: url(assets/images/close.svg) no-repeat center;
    mask: url(assets/images/close.svg) no-repeat center;
}

.icon-settings {
    background-image: url('assets/images/settings.svg');
    -webkit-mask: url(assets/images/settings.svg) no-repeat center;
    mask: url(assets/images/settings.svg) no-repeat center;
}

.logo {
	background: url(assets/logo.png) no-repeat center center;
	background-size: 100%;
	width: 200px;
	height: 100px;
	display: block;
	margin: 0 auto 30px;
	font-size: 0;
}

.btn {
	cursor: pointer;
	background: #00ffb5;
    padding: 13px 22px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 0;
	display: inline-block;
}

.btn-secondary {
    color: white;
    background: #322153;
}

.btn-mini {
	padding-top: 10px;
    font-size: 10px;
}

.btn-red {
	background: #ff5858;
    color: white;
}

.float-btn {
    background: #00f2a9;
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 100%;
    margin: 0;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 50;
}

.float-btn-icon {
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;	
}

.float-btn-close,
.float-btn-plus {
	display: inline-block;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 14px;
    background-repeat: no-repeat;
    background-size: 110px;
    width: 30px;
    font-size: 50px;
    background-color: #ffffff;
    -webkit-mask: url(assets/images/plus.svg) no-repeat center;
    -webkit-mask-size: 25px;
    mask: url(assets/images/plus.svg) no-repeat center;
    mask-size: 25px;
}

.float-btn-close {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.insert {
	background: #fafafa;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    border: 1px solid #ececec;
    box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 240px;
    position: fixed;
    right: 120px;
    bottom: -50%;
	opacity: 0;
    margin: 0;
    z-index: 30;
    -webkit-transition: opacity .5s ease-in-out, bottom .3s ease-in-out;
	-moz-transition: opacity .5s ease-in-out, bottom .3s ease-in-out;
	-o-transition: opacity .5s ease-in-out, bottom .3s ease-in-out;
	transition: opacity .5s ease-in-out, bottom .3s ease-in-out;	
}

.insert.active {
	opacity: 1;
    bottom: 60px;
}

.filed {
	margin-bottom: 20px;
}

.filed label {
	display: block;
	margin-bottom: 10px;
    margin-left: 0;
}

.filed input {
	width: 100%;
}

.insert label:first-child {
	margin-left: 0;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.btn-settings {
    position: absolute;
    top: 25px;
    right: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn-settings:hover {
    transition: 1.70s;
    -webkit-transition: 1.70s;
    -moz-transition: 1.70s;
    -ms-transition: 1.70s;
    -o-transition: 1.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fade-effect {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.fade-animate {
    opacity: 0;
}

.settings-box {
    width: 420px;
    margin: auto;
    position: absolute;
    left: 0;
    right: -150%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out, right .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out, right .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out, right .5s ease-in-out;
    transition: opacity .5s ease-in-out, right .5s ease-in-out;
}

.settings-box.active {
    opacity: 1;
    right: 0;
}

.settings-box .btn-submit {
    margin-top: 10px;
}

.transactions-table {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
    -webkit-transition: opacity .5s ease-in-out, left .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out, left .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out, left .5s ease-in-out;
    transition: opacity .5s ease-in-out, left .5s ease-in-out;
}

.transactions-table.disabled {
    left: -150%;
    opacity: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #322153;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #322153;
}
